.answer{
    margin-left: 20px;
}

.btn-php, .btn-php:focus{
    background-image: linear-gradient(to bottom,#b765e0 0,#3f4996 100%);
    border-color: #9468a5;
    color: white;
}

hr{
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:black;
    height: 1px;
}