<?php
	$this->headScript()->appendFile('/js/test.js', 'text/javascript');
?>
<div class="container" style="margin-top:10px;">
	<div class="jumbotron">
		<h1><?=$this->translate('Test');?>, ZF3 & Vue.js</h1>
		<p>	
			Please select mode : 
			<button @click="selectMode('vue')" class="btn btn-success">Vue.js</button>
			<button @click="selectMode('php')" class="btn btn-php">PHP</button>
			<div v-show="mode == 'vue'">
				<question id="1" btn-style="success"></question>
				<question id="2" btn-style="warning"></question>
				<question id="3" btn-style="danger"></question>
			</div>
			<div v-show="mode == 'php'">
				<h3>3, 5, 9, 15, X  - Please create new function for finding X value</h3>
				<a class="btn btn-php" href="/test/<?=$this->lang;?>/test1/" target="_blank" role="button"><?=$this->translate('PHP Answer');?> </a>
				<hr>
				<h3>(Y + 24)+(10 × 2) = 99  - Please create new function for finding Y value</h3>
				<a class="btn btn-php" href="/test/<?=$this->lang;?>/test2/" target="_blank" role="button"><?=$this->translate('PHP Answer');?></a>
				<hr>
				<h3>If 1 = 5 , 2 = 25 , 3 = 325 , 4 = 4325 Then 5 = X - Please create new function for finding X value</h3>
				<a class="btn btn-php" href="/test/<?=$this->lang;?>/test3/" target="_blank" role="button"><?=$this->translate('PHP Answer');?></a>
			</div>
		</p>
	</div>
</div>