<div class="container" style="margin-top:10px;">
	<div class="jumbotron">
		<h1><?php echo $this->answer['question']; ?></h1>
		<p>	
			<hr>
			<h3>Answer: Y = <?php echo $this->answer['result']; ?></h3>
			Y = <?php echo $this->answer['result']; ?> <br>
			<?php echo $this->answer['text']; ?>  <br>
			Cache = <?php echo $this->answer['cache'] ? 'true' : 'false'; ?> <br> <br>
			<form action="" method="GET">
				Total: <input type="number" name="total" min="1" value="<?php echo $this->total; ?>" placeholder="Total"/> 
				<button type="submit" class="btn btn-success" value="<?php echo $this->position; ?>" >Test</button>
			</form>
			<br> <br>
			<a class="btn btn-primary" href="/test/<?=$this->lang;?>/index/" role="button"><?=$this->translate('Back');?> </a>
		</p>
	</div>
</div>