<div class="container" style="margin-top:10px;">
	<div class="jumbotron">
		<h1><?php echo $this->answer['question']; ?></h1>
		<p>	
			<h3>Answer: X = <?php echo $this->answer['result']; ?></h3>
			<hr>
			X = <?php echo $this->answer['result']; ?> <br>
			(<?php echo $this->answer['text']; ?>)  <br>
			Cache = <?php echo $this->answer['cache'] ? 'true' : 'false'; ?> <br> <br>
			<form action="" method="GET">
				Position: <input type="number" name="position" min="1" value="<?php echo $this->position; ?>" placeholder="Position"/> 
				<button type="submit" class="btn btn-success"  >Test</button>
			</form>
			<br>  <br>
			<a class="btn btn-primary" href="/test/<?=$this->lang;?>/index/" role="button"><?=$this->translate('Back');?> </a>
		</p>
	</div>
</div>