<template>
  <div>
	<div v-if="question">
		<h3>{{ question.name }}</h3>
		<button @click="showAnswer" :class="btnCssClass()" role="button">Vue.js Answer</button>
		<span v-if="result" class="answer"> {{ result.result }} </span>
		<span v-show="thinking" class="answer"> Thinking... </span>
		<hr>
	</div>
	<div v-else> Loading.. </div>
  </div>
</template>

<script>
export default {
 	props: {
		id: {
	 	    default: '',
	 	    type: String
 	  	},
 	  	'btnStyle': {
 	    	default: 'success',
 	    	type: String
	  	},
	},
 	data : function() {
		return {
			thinking: false,
			question : null,
			result : null
		}
	},
 	
	methods : {

		loadQuestion: function() 
		{
			let self = this;
			axios.get('/test/th/load-question/?id='+self.id)
			.then(function (response) {
				self.question = response.data;   
			});
		},

		showAnswer: function() {
			
			let self = this;
			self.result = null;
			self.thinking = true;
			axios.get('/test/th/find-result/?id='+self.id)
				.then(function (response) {
					self.thinking = false;
					self.result = response.data;
			});
		},

		btnCssClass: function() {
			return [
				'btn',
				'btn-'+this.btnStyle
			];
		}
 	},
 	
    mounted() {
		if (!this.question) {
			this.loadQuestion();
		}
    }
}
</script>